[package]
name = "mouse"
version = "0.1.0"
authors = ["Bowen Liu <liubowenbob@hotmail.com>"]

[dependencies]
spin = "0.9.0"
mpmc = "0.1.6"

[dependencies.log]
version = "0.4.8"

[dependencies.mouse_data]
path = "../../libs/mouse_data"

[dependencies.ps2]
path = "../ps2"

[dependencies.event_types]
path = "../event_types"

[lib]
crate-type = ["rlib"]
