[package]
authors = ["Jacob Earle <earlejacobt@gmail.com>"]
name = "sleep"
description = "Provides APIs that allow tasks to be delayed for specified intervals of time"
version = "0.1.0"

[dependencies]

[dependencies.lazy_static]
features = ["spin_no_std"]
version = "1.2.0"

[dependencies.task]
path = "../task"

[dependencies.irq_safety]
git = "https://github.com/theseus-os/irq_safety" 

[dependencies.scheduler]
path = "../scheduler"

[dependencies.time]
path = "../time"

[dependencies.crossbeam-utils]
version = "0.8.12"
default-features = false

[lib]
crate-type = ["rlib"]
