[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>", "Nathan Royer <nathan.royer.pro@gmail.com>"]
name = "interrupts"
description = "Interrupt configuration and handlers for Theseus"
version = "0.1.0"
edition = "2021"

[dependencies]
log = "0.4.8"

memory = { path = "../memory" }
cpu = { path = "../cpu" }

[target.'cfg(target_arch = "aarch64")'.dependencies]
irq_safety = { git = "https://github.com/theseus-os/irq_safety" }
kernel_config = { path = "../kernel_config" }
gic = { path = "../gic" }
tock-registers = "0.7.0"
cortex-a = "7.5.0"
time = { path = "../time" }

[target.'cfg(target_arch = "x86_64")'.dependencies]
exceptions_early = { path = "../exceptions_early" }
vga_buffer = { path = "../vga_buffer" }
apic = { path = "../apic" }
gdt = { path = "../gdt" }
pic = { path = "../pic" }
tss = { path = "../tss" }
x86_64 = "0.14.8"
spin = "0.9.4"
locked_idt = { path = "../../libs/locked_idt" }
