[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "interrupts"
description = "Interrupt configuration and handlers for Theseus"
version = "0.1.0"
build = "../../build.rs"

[dependencies]
cfg-if = "1.0.0"

[target.'cfg(target_arch = "x86_64")'.dependencies]
# x86_64 = { git = "https://github.com/kevinaboos/x86_64" }
spin = "0.9.0"
x86_64 = { path = "../../libs/x86_64" } # currently using our local copy, forked from Phil Opp's crate


[target.'cfg(target_arch = "x86_64")'.dependencies.log]
version = "0.4.8"

[target.'cfg(target_arch = "x86_64")'.dependencies.lazy_static]
features = ["spin_no_std", "nightly"]
version = "1.2.0"

[target.'cfg(target_arch = "x86_64")'.dependencies.irq_safety]
git = "https://github.com/kevinaboos/irq_safety"

[target.'cfg(target_arch = "x86_64")'.dependencies.port_io]
path = "../../libs/port_io"

[target.'cfg(target_arch = "x86_64")'.dependencies.memory]
path = "../memory"

[target.'cfg(target_arch = "x86_64")'.dependencies.kernel_config]
path = "../kernel_config"

[target.'cfg(target_arch = "x86_64")'.dependencies.apic]
path = "../apic"

[target.'cfg(target_arch = "x86_64")'.dependencies.serial_port]
path = "../serial_port"

[target.'cfg(target_arch = "x86_64")'.dependencies.tlb_shootdown]
path = "../tlb_shootdown"

[target.'cfg(target_arch = "x86_64")'.dependencies.tss]
path = "../tss"

[target.'cfg(target_arch = "x86_64")'.dependencies.gdt]
path = "../gdt"

[target.'cfg(target_arch = "x86_64")'.dependencies.pic]
path = "../pic"

[target.'cfg(target_arch = "x86_64")'.dependencies.exceptions_early]
path = "../exceptions_early"

[target.'cfg(target_arch = "x86_64")'.dependencies.task]
path = "../task"

[target.'cfg(target_arch = "x86_64")'.dependencies.pit_clock]
path = "../pit_clock"

[target.'cfg(target_arch = "x86_64")'.dependencies.keyboard]
path = "../keyboard"

[target.'cfg(target_arch = "x86_64")'.dependencies.mouse]
path = "../mouse"

[target.'cfg(target_arch = "x86_64")'.dependencies.ps2]
path = "../ps2"

[target.'cfg(target_arch = "x86_64")'.dependencies.scheduler]
path = "../scheduler"

[target.'cfg(target_arch = "x86_64")'.dependencies.vga_buffer]
path = "../vga_buffer"

[lib]
crate-type = ["rlib"]
