[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "interrupts"
description = "Interrupt configuration and handlers for Theseus"
version = "0.1.0"
edition = "2018"

[dependencies]
spin = "0.9.0"
x86_64 = "0.14.8"
locked_idt = { path = "../../libs/locked_idt" }

[dependencies.log]
version = "0.4.8"

[dependencies.lazy_static]
features = ["spin_no_std"]
version = "1.4.0"

[dependencies.irq_safety]
git = "https://github.com/theseus-os/irq_safety"

[dependencies.port_io]
path = "../../libs/port_io"

[dependencies.memory]
path = "../memory"

[dependencies.kernel_config]
path = "../kernel_config"

[dependencies.apic]
path = "../apic"

[dependencies.tlb_shootdown]
path = "../tlb_shootdown"

[dependencies.tss]
path = "../tss"

[dependencies.gdt]
path = "../gdt"

[dependencies.pic]
path = "../pic"

[dependencies.exceptions_early]
path = "../exceptions_early"

[dependencies.task]
path = "../task"

[dependencies.pit_clock]
path = "../pit_clock"

[dependencies.keyboard]
path = "../keyboard"

[dependencies.mouse]
path = "../mouse"

[dependencies.ps2]
path = "../ps2"

[dependencies.scheduler]
path = "../scheduler"

[dependencies.sleep]
path = "../sleep"

[dependencies.vga_buffer]
path = "../vga_buffer"

[lib]
crate-type = ["rlib"]
