[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "multicore_bringup"
description = "Support for bringing up other CPU cores (APs) from the main core (BSP)"
version = "0.1.0"

[dependencies]
spin = "0.9.0"
volatile = "0.2.7"
zerocopy = "0.5.0"

[dependencies.log]
version = "0.4.8"

[dependencies.irq_safety]
git = "https://github.com/theseus-os/irq_safety"

[dependencies.memory]
path = "../memory"

[dependencies.stack]
path = "../stack"

[dependencies.kernel_config]
path = "../kernel_config"

[dependencies.pit_clock_basic]
path = "../pit_clock_basic"

[dependencies.mod_mgmt]
path = "../mod_mgmt"

[dependencies.acpi]
path = "../acpi"

[dependencies.apic]
path = "../apic"

[dependencies.ap_start]
path = "../ap_start"

[dependencies.madt]
path = "../acpi/madt"

[dependencies.pause]
path = "../pause"


[lib]
crate-type = ["rlib"]
