[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "mutex_sleep"
description = "A Mutex abstraction that puts a Task to sleep while waiting for the lock"
version = "0.1.0"
edition = "2018"

[dependencies]
spin = "0.9.0"

[dependencies.log]
version = "0.4.8"


[dependencies.stable_deref_trait]
git = "https://github.com/theseus-os/stable_deref_trait.git"
branch = "spin"
default-features = false
features = [ "alloc", "spin" ]

[dependencies.owning_ref]
# version = "0.3.3"
# path = "../../libs/owning-ref-rs"
git = "https://github.com/theseus-os/owning-ref-rs.git"


[dependencies.wait_queue]
path = "../wait_queue"

[dependencies.task]
path = "../task"

[dependencies.lockable]
path = "../../libs/lockable"


[lib]
crate-type = ["rlib"]
