[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "state_store"
description = "Database-like storage for static, system-wide states, which allows other crates to remain stateless"
version = "0.1.0"

[dependencies]
# typemap = "0.3.3"
spin = "0.9.0"

[dependencies.lazy_static]
features = ["spin_no_std"]
version = "1.4.0"

[dependencies.atomic_linked_list]
path = "../../libs/atomic_linked_list"


# [build]
# rustflags = ["-C", "prefer-dynamic", "-C", "panic=abort"]

# [bin]

[lib]
crate-type = ["rlib"]
