[submodule "libs/dfqueue"]
	path = libs/dfqueue
	url = https://github.com/kevinaboos/dfqueue
	ignore = dirty
[submodule "libs/x86_64"]
	path = libs/x86_64
	url = https://github.com/kevinaboos/x86_64
	branch = master
	ignore = dirty
[submodule "libs/mpmc"]
	path = libs/mpmc
	url = https://github.com/theseus-os/mpmc
[submodule "libs/uefi-rs"]
	path = libs/uefi-rs
	url = https://github.com/snoword/uefi-rs
