[workspace]


## Here, we specify that all subdirectories in the kernel/ and applications/ directories should be built, 
## except for those starting with a "." So, we build all kernel and application crates except hidden directories.
members = [
	"kernel/[!.]*/",
	"applications/[!.]*/",
]



exclude = [
	## exclude the build directories
	"build",
	"cfg",
	"compiler_plugins",
	"libs",
	"old_crates",
	"scripts",
	"target",
	"tools",
	"userspace",

	## exclude unused test applications by default
	# "applications/test_channel",
	"applications/test_exception",
	"applications/test_exception2",
	"applications/test_filerw",
	# "applications/heap_eval",
	"applications/test_mutex_sleep",
	"applications/test_wait_queue",
	# "applications/test_panic",
	# "applications/unwind_test",
]


[patch.crates-io]
### use our own no_std-compatilbe getopts
getopts = { git = "https://github.com/kevinaboos/getopts" }
### use our own no_std-compatible qp trie
qp-trie = { git = "https://github.com/theseus-os/qp-trie-rs" }
### use our own no_std-compatible downcast-rs
downcast-rs = { git = "https://github.com/theseus-os/downcast-rs" }
### use the latest version of core_io that supports the latest nightly Rust compiler
core_io = { git = "https://github.com/theseus-os/rust-core_io" }
### use the latest version of smoltcp from github; the one on crates.io is out of date
smoltcp = { git = "https://github.com/m-labs/smoltcp" }
### use a version of memoffset where doctest is not a stable feature. The patch can be removed when
### we update our rustc verstion to 1.42. Then we can just use the version available on crates.io
memoffset = {git ="https://github.com/Ramla-I/memoffset.git"}

### These profiles fix the new rustc behavior of splitting one crate into many object files. 
### That messes up our module loading, which is bad!
### See this link about profiles: https://doc.rust-lang.org/cargo/reference/manifest.html
# workaround rust-lang/rust#47074
[profile.dev]
codegen-units = 1
incremental = false

# workaround rust-lang/rust#47074
[profile.release]
codegen-units = 1
incremental = false

