[package]
authors = ["Nathan Royer <nathan.royer.pro@gmail.com>"]
name = "cpu"
description = "An abstraction for querying about CPUs (cores) in an SMP multicore system."
version = "0.1.0"
edition = "2021"

[target.'cfg(target_arch = "x86_64")'.dependencies]
apic = { path = "../apic" }

[target.'cfg(target_arch = "aarch64")'.dependencies]
tock-registers = "0.7.0"
cortex-a = "7.5.0"

[lib]
crate-type = ["rlib"]
