[package]
authors = ["Aryan Sefidi <aryansefidi@gmail.com>"]
name = "pmu_x86"
description = "Diagnostic tools, specifically provides acccess to performance monitoring unit on x86 Nehalem and above."
version = "0.1.0"

[dependencies]
spin = "0.9.0"
x86_64 = "0.14.8"
bit_field = "0.10.0"

[dependencies.apic]
path = "../apic"

[dependencies.irq_safety]
git = "https://github.com/theseus-os/irq_safety"

[dependencies.lazy_static]
features = ["spin_no_std"]
version = "1.4.0"

[dependencies.log]
version = "0.4.8"

[dependencies.memory]
path = "../memory"

[dependencies.pit_clock]
path = "../pit_clock"

[dependencies.port_io]
path = "../../libs/port_io"

[dependencies.msr]
path = "../../libs/msr"

[dependencies.raw-cpuid]
version = "7.0.3"
features = [ "use_arch" ]

[dependencies.task]
path = "../task"

[dependencies.mod_mgmt]
path = "../mod_mgmt"

[lib]
crate-type = ["rlib"]
