[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "spawn"
description = "This crate contains code for creating userspace tasks, which was previously in the `spawn`."
version = "0.1.0"

[dependencies]
owning_ref = { git = "https://github.com/theseus-os/owning-ref-rs" }


[dependencies.log]
version = "0.4.8"

[dependencies.lazy_static]
features = ["spin_no_std"]
version = "1.2.0"

[dependencies.irq_safety]
git = "https://github.com/theseus-os/irq_safety"

[dependencies.atomic_linked_list]
path = "../../libs/atomic_linked_list"

[dependencies.debugit]
path = "../../libs/debugit"

[dependencies.memory]
path = "../memory"

[dependencies.kernel_config]
path = "../kernel_config"

[dependencies.apic]
path = "../apic"

[dependencies.tss]
path = "../tss"

[dependencies.task]
path = "../task"

[dependencies.catch_unwind]
path = "../catch_unwind"

[dependencies.runqueue]
path = "../runqueue"

[dependencies.gdt]
path = "../gdt"

[dependencies.scheduler]
path = "../scheduler"

[dependencies.mod_mgmt]
path = "../mod_mgmt"

[dependencies.context_switch]
path = "../context_switch"

[dependencies.path]
path = "../path"

[dependencies.fs_node]
path = "../fs_node"

[lib]
crate-type = ["rlib"]
