[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "spawn"
description = "Functions and wrappers for spawning new Tasks, both kernel threads and userspace processes."
version = "0.1.0"
edition = "2018"


[dependencies]
log = "0.4.8"
spin = "0.9.4"
lazy_static = { features = ["spin_no_std"], version = "1.4.0" }

irq_safety = { git = "https://github.com/theseus-os/irq_safety" }

debugit = { path = "../../libs/debugit" }

memory = { path = "../memory" }
stack = { path = "../stack" }
cpu = { path = "../cpu" }
preemption = { path = "../preemption" }
task = { path = "../task" }
runqueue = { path = "../runqueue" }
scheduler = { path = "../scheduler" }
mod_mgmt = { path = "../mod_mgmt" }
context_switch = { path = "../context_switch" }
path = { path = "../path" }
fs_node = { path = "../fs_node" }
thread_local_macro = { path = "../thread_local_macro" }
no_drop = { path = "../no_drop" }
early_tls = { path = "../early_tls" }

[target.'cfg(target_arch = "x86_64")'.dependencies]
fault_crate_swap = { path = "../fault_crate_swap" }
catch_unwind = { path = "../catch_unwind" }
fault_log = { path = "../fault_log" }

[lib]
crate-type = ["rlib"]
