[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "nano_core"
version = "0.1.0"


[dependencies]
# multiboot2 = { git = "https://github.com/kevinaboos/multiboot2-elf64"}
multiboot2 = { path = "../../libs/multiboot2-elf64" } # currently using our local copy, forked from Phil Opp's crate
once = "0.3.2"
rlibc = "1.0.0"
# x86_64 = { git = "https://github.com/kevinaboos/x86_64" }
x86_64 = { path = "../../libs/x86_64" } # currently using our local copy, forked from Phil Opp's crate



[dependencies.log]
default-features = false
version = "0.3.7"

[dependencies.kernel_config]
path = "../kernel_config"

[dependencies.irq_safety]
git = "https://github.com/kevinaboos/irq_safety"

[dependencies.frame_buffer]
path = "../frame_buffer"

[dependencies.frame_buffer_3d]
path = "../frame_buffer_3d"

[dependencies.logger]
path = "../logger"

[dependencies.state_store]
path = "../state_store"

[dependencies.memory]
path = "../memory"

[dependencies.mod_mgmt]
path = "../mod_mgmt"

[dependencies.apic]
path = "../apic"

[dependencies.exceptions]
path = "../exceptions"

[dependencies.captain]
path = "../captain"

[dependencies.task]
path = "../task"

[dependencies.panic]
path = "../panic"

### below: Extra dependencies to make sure things are built
[dependencies.console]
path = "../console"


[features]
loadable = [ "captain/loadable" ]
mirror_serial = []


[lib]
# staticlib is required to build a self-contained, fully-linked .a file 
# that we can jump to from the bootloader.
crate-type = ["staticlib"]  

