[package]
name = "nano_core"
version = "0.1.0"
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
description = "The minimalist crate that takes over after the bootloader and is responsible for pre-initialization of Theseus, before handing off control to the captain"
edition = "2021"


[dependencies]
cfg-if = "1.0.0"
multiboot2 = { version = "0.14.0", optional = true }
libm = "0.2.1"

[dependencies.log]
version = "0.4.8"

[dependencies.kernel_config]
path = "../kernel_config"

[dependencies.irq_safety]
git = "https://github.com/theseus-os/irq_safety"

[dependencies.logger]
path = "../logger"

[dependencies.state_store]
path = "../state_store"

[dependencies.memory]
path = "../memory"

[dependencies.no_drop]
path = "../no_drop"

[dependencies.serial_port_basic]
path = "../serial_port_basic"

[dependencies.stack]
path = "../stack"

[dependencies.mod_mgmt]
path = "../mod_mgmt"

[dependencies.exceptions_early]
path = "../exceptions_early"

[dependencies.captain]
path = "../captain"

[dependencies.panic_entry]
path = "../panic_entry"

[dependencies.vga_buffer]
path = "../vga_buffer"

[dependencies.memory_initialization]
path = "../memory_initialization"

[dependencies.boot_info]
path = "../boot_info"

[dependencies.uefi-bootloader-api]
git = "https://github.com/theseus-os/uefi-bootloader"
optional = true

[build-dependencies]
cfg-if = "1.0.0"

[features]
default = [ "bios" ]
## Build for a system that boots via legacy BIOS (multiboot2).
bios = ["boot_info/multiboot2", "vga_buffer/bios", "dep:multiboot2"]
## Build for a system that boots via UEFI.
uefi = ["boot_info/uefi", "captain/uefi", "dep:uefi-bootloader-api"]

[lib]
# staticlib is required to build a self-contained, fully-linked .a file 
# that we can jump to from the bootloader.
crate-type = ["staticlib"]  

## Currently not used; see the `build.rs` script.
# [build-dependencies]
# built = "0.5"
