[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "keyboard"
description = "The keyboard driver"
version = "0.1.0"
build = "../../build.rs"

[dependencies]
spin = "0.4.10"


[dependencies.log]
version = "0.4.8"

[dependencies.keycodes_ascii]
path = "../../libs/keycodes_ascii"

[dependencies.mpmc]
path = "../../libs/mpmc"

[dependencies.event_types]
path = "../event_types"

[dependencies.ps2]
path = "../ps2"


[lib]
crate-type = ["rlib"]
