[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>, Hecatia Elegua"]
name = "keyboard"
description = "A basic driver for keyboards connected to the legacy PS2 port"
version = "0.1.0"
edition = "2021"

[dependencies]
spin = "0.9.0"
x86_64 = "0.14.8"
mpmc = "0.1.6"
log = "0.4.8"
once_cell = { version = "1", default-features = false }

[dependencies.keycodes_ascii]
path = "../../libs/keycodes_ascii"

[dependencies.event_types]
path = "../event_types"

[dependencies.ps2]
path = "../ps2"

[dependencies.interrupts]
path = "../interrupts"


[lib]
crate-type = ["rlib"]
