[package]
name = "cls"
version = "0.1.0"
authors = ["Klim Tsoutsman <klim@tsoutsman.com>"]
description = "Library for defining CPU-local variables"
edition = "2021"

[dependencies]
cls_macros = { path = "cls_macros" }
irq_safety = { git = "https://github.com/theseus-os/irq_safety" }
preemption = { path = "../preemption" }

[target.'cfg(target_arch = "x86_64")'.dependencies]
x86_64 = "0.14.8"

[target.'cfg(target_arch = "aarch64")'.dependencies]
tock-registers = "0.7.0"
cortex-a = "7.5.0"
