[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "captain"
description = "The main driver of Theseus. Controls the loading and initialization of all subsystems and other crates."
version = "0.1.0"
edition = "2021"

[dependencies]
log = "0.4.8"

irq_safety = { git = "https://github.com/theseus-os/irq_safety" }
dfqueue = { path = "../../libs/dfqueue", version = "0.1.0" }
kernel_config = { path = "../kernel_config" }
interrupts = { path = "../interrupts" }
scheduler = { path = "../scheduler" }
mod_mgmt = { path = "../mod_mgmt" }
no_drop = { path = "../no_drop" }
task_fs = { path = "../task_fs" }
memory = { path = "../memory" }
spawn = { path = "../spawn" }
stack = { path = "../stack" }
task = { path = "../task" }
cpu = { path = "../cpu" }

[target.'cfg(target_arch = "x86_64")'.dependencies]
logger_x86_64 = { path = "../logger_x86_64" }
window_manager = { path = "../window_manager" }
first_application = { path = "../first_application" }
exceptions_full = { path = "../exceptions_full" }
tlb_shootdown = { path = "../tlb_shootdown" }
multiple_heaps = { path = "../multiple_heaps" }
tsc = { path = "../tsc" }
acpi = { path = "../acpi" }
multicore_bringup = { path = "../multicore_bringup" }
page_attribute_table = { path = "../page_attribute_table" }
device_manager = { path = "../device_manager" }
e1000 = { path = "../e1000" }
console = { path = "../console" }
app_io = { path = "../app_io" }
vga_buffer = { path = "../vga_buffer" }
network_manager = { path = "../network_manager" }
ota_update_client = { path = "../ota_update_client" }

## This should be dependent upon 'cfg(simd_personality)',
## but it cannot be because of https://github.com/rust-lang/cargo/issues/5499.
## Therefore, it has to be unconditionally included.
simd_personality = { path = "../simd_personality" }

[features]
# TODO: Remove when UEFI is fully implemented
uefi = []

[lib]
crate-type = ["rlib"]
