[package]
name = "ps2"
version = "0.1.0"
description = "Drivers supporting the PS/2 interface, for legacy keyboard/mouse devices"
authors = ["Bowen Liu <liubowenbob@hotmail.com>"]

[dependencies]
spin = "0.9.0"

[dependencies.log]
version = "0.4.8"

[dependencies.port_io]
path = "../../libs/port_io"

[lib]
crate-type = ["rlib"]

