[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "mod_mgmt"
description = "Module management, including parsing, loading, linking, unloading, and metadata management."
version = "0.1.0"
build = "../../build.rs"

[dependencies]
spin = "0.9.0"
xmas-elf = { version = "0.6.2", git = "https://github.com/theseus-os/xmas-elf.git" }
rustc-demangle = "0.1.19"
qp-trie = "0.7.3"
cstr_core = "0.2.3"
rangemap = "0.1.13"

[dependencies.lazy_static]
features = ["spin_no_std"]
version = "1.4.0"

[dependencies.util]
path = "../../libs/util"

[dependencies.cow_arc]
path = "../../libs/cow_arc"

[dependencies.kernel_config]
path = "../kernel_config"

[dependencies.log]
version = "0.4.8"

[dependencies.crate_name_utils]
path = "../crate_name_utils"

[dependencies.crate_metadata]
path = "../crate_metadata"

[dependencies.memory]
path = "../memory"

[dependencies.bootloader_modules]
path = "../bootloader_modules"

[dependencies.root]
path = "../root"

[dependencies.fs_node]
path = "../fs_node"

[dependencies.hashbrown]
version = "0.9.1"
features = ["nightly"]

[dependencies.vfs_node]
path = "../vfs_node"

[dependencies.path]
path = "../path"

[dependencies.memfs]
path = "../memfs"

[lib]
crate-type = ["rlib"]
