[package]
name = "smoltcp_helper"
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
description = "helper functions to establish and use a tcp connection with a smoltcp device"
version = "0.1.0"

[dependencies]
spin = "0.9.0"

[dependencies.log]
version = "0.4.8"

[dependencies.network_manager]
path = "../network_manager"

[dependencies.hpet]
path = "../acpi/hpet"

[dependencies.smoltcp]
version = "0.5.0"
default-features = false
features = [
    "alloc", "ethernet",
    # "log", "verbose", 
    "proto-ipv4", "proto-igmp", "proto-ipv6", "proto-dhcpv4",
    "socket-raw", "socket-udp", "socket-tcp", "socket-icmp", 
]


[lib]
crate-type = ["rlib"]
