[package]
name = "net"
version = "0.1.0"
description = "Network device abstractions"
edition = "2021"

[dependencies]
heapless = "0.7.8"
log = "0.4.8"
nic_buffers = { path = "../nic_buffers" }
rand = { version = "0.8.5", default-features = false }
random = { path = "../random" }
rand_chacha = { version = "0.3.1", default-features = false }
spin = "0.9"
sync_block = { path = "../sync_block" }
sync_irq = { path = "../../libs/sync_irq" }

[dependencies.smoltcp]
# TODO: move to patch in root Cargo.toml after removing legacy net interface
git = "https://github.com/smoltcp-rs/smoltcp"
default-features = false
features = [
    "alloc",
    "socket-raw",
    "socket-udp",
    "socket-tcp",
    "socket-icmp",
    "proto-ipv4",
    "proto-ipv6",
    "medium-ethernet",
]