[package]
name = "boot_info"
version = "0.1.0"
authors = ["Klim Tsoutsman <klim@tsoutsman.com>"]
description = "Abstraction over multiboot2 and UEFI boot information"
edition = "2021"

[dependencies]
bitflags = "1.3"
kernel_config = { path = "../kernel_config" }
memory_structs = { path = "../memory_structs" }
multiboot2 = { version = "0.14", optional = true }

[dependencies.uefi-bootloader-api]
git = "https://github.com/theseus-os/uefi-bootloader"
optional = true

[features]
uefi = ["dep:uefi-bootloader-api"]
multiboot2 = ["dep:multiboot2"]
