[package]
name = "console"
version = "0.1.0"
authors = ["Kevin Boos <kevinaboos@gmail.com>", "Klim Tsoutsman <klim@tsoutsman.com>"]
description = "Creation and management of virtual consoles/terminals"
edition = "2021"

[dependencies]
log = "0.4.8"

[dependencies.core2]
version = "0.4.0"
default-features = false
features = ["alloc", "nightly"]

[dependencies.async_channel]
path = "../async_channel"

[dependencies.app_io]
path = "../app_io"

[dependencies.serial_port]
path = "../serial_port"

[dependencies.io]
path = "../io"

[dependencies.task]
path = "../task"

[dependencies.spawn]
path = "../spawn"

[dependencies.tty]
path = "../tty"

[dependencies.mod_mgmt]
path = "../mod_mgmt"

[dependencies.path]
path = "../path"

[dependencies.irq_safety]
git = "https://github.com/theseus-os/irq_safety"

[lib]
crate-type = ["rlib"]
