[package]
name = "path"
version = "0.1.0"
authors = ["Andrew Pham <apham727@gmail.com>, Christine Wang <chrissywang54@gmail.com"]
description = "contains functions for navigating the filesystem / getting pointers to specific directories via the Path struct"


[dependencies]
spin = "0.9.0"

[dependencies.lazy_static]
features = ["spin_no_std"]
version = "1.4.0"

[dependencies.fs_node]
path = "../fs_node"

[dependencies.vfs_node]
path = "../vfs_node"

[dependencies.root]
path = "../root"

[dependencies.log]
version = "0.4.8"

[lib]
crate-type = ["rlib"]
