[package]
name = "debug_info"
version = "0.1.0"
description = "Support for processing and using DWARF debug information from ELF files"
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
build = "../../build.rs"

[dependencies]
xmas-elf = { version = "0.6.2", git = "https://github.com/kevinaboos/xmas-elf.git" }
owning_ref = { git = "https://github.com/kevinaboos/owning-ref-rs" }
by_address = "1.0.4"
rustc-demangle = "0.1.14"

[dependencies.log]
default-features = false
version = "0.3.7"

[dependencies.gimli]
version = "0.19.0"
default-features = false
features = [ "read", "alloc" ]

### used for linker relocation typedefs
[dependencies.goblin]
version = "0.0.19"
default-features = false
features = ["elf64"]

[dependencies.hashbrown]
version = "0.1.8"
features = ["nightly"]

[dependencies.util]
path = "../../libs/util"

[dependencies.memory]
path = "../memory"

[dependencies.fs_node]
path = "../fs_node"

[dependencies.mod_mgmt]
path = "../mod_mgmt"

[dependencies.crate_metadata]
path = "../crate_metadata"
