[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "scheduler"
description = "Provides scheduling functionality for selecting the next task and causing a task switch"
version = "0.1.0"
edition = "2018"

[dependencies]
log = "0.4.8"
cfg-if = "1.0.0"

cpu = { path = "../cpu" }
interrupts = { path = "../interrupts" }
sleep = { path = "../sleep" }
task = { path = "../task" }

scheduler_round_robin = { path = "../scheduler_round_robin" }
scheduler_epoch = { path = "../scheduler_epoch" }
scheduler_priority = { path = "../scheduler_priority" }

[target.'cfg(target_arch = "x86_64")'.dependencies]
x86_64 = "0.14.8"
