[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "serial_port"
description = "Basic driver for the serial port, e.g., COM1, COM2"
version = "0.1.0"
build = "../../build.rs"

[dependencies.port_io]
path = "../../libs/port_io"

[dependencies.irq_safety]
git = "https://github.com/kevinaboos/irq_safety"

[lib]
crate-type = ["rlib"]
