[package]
name = "nic_buffers"
description = "Structs for network transmit and receive buffers"
version = "0.1.0"
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
build = "../../build.rs"

[dependencies]
owning_ref = { git = "https://github.com/kevinaboos/owning-ref-rs" }


[dependencies.memory]
path = "../memory"

[dependencies.log]
version = "0.4.8"

[dependencies.mpmc]
path = "../../libs/mpmc"


[lib]
crate-type = ["rlib"]
