[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "ap_start"
description = "High-level initialization code that runs on each AP (core) after it has booted up"
version = "0.1.0"

[dependencies]
spin = "0.9.0"

[dependencies.lazy_static]
features = ["spin_no_std"]
version = "1.4.0"

[dependencies.log]
version = "0.4.8"

[dependencies.irq_safety]
git = "https://github.com/theseus-os/irq_safety"

[dependencies.memory]
path = "../memory"

[dependencies.stack]
path = "../stack"

[dependencies.interrupts]
path = "../interrupts"

[dependencies.scheduler]
path = "../scheduler"

[dependencies.spawn]
path = "../spawn"

[dependencies.kernel_config]
path = "../kernel_config"

[dependencies.apic]
path = "../apic"

[dependencies.tlb_shootdown]
path = "../tlb_shootdown"


[lib]
crate-type = ["rlib"]
