[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "unwind"
description = "Routines for unwinding the call stack and running cleanup handlers for Theseus tasks"
version = "0.1.0"

[dependencies]
fallible-iterator = { version = "0.2.0", default-features = false }

[dependencies.gimli]
version = "0.25.0"
default-features = false
features = [ "read" ]

[dependencies.log]
version = "0.4.8"

[dependencies.memory]
path = "../memory"

[dependencies.mod_mgmt]
path = "../mod_mgmt"

[dependencies.task]
path = "../task"

[dependencies.interrupts]
path = "../interrupts"

[dependencies.external_unwind_info]
path = "../external_unwind_info"

[lib]
crate-type = ["rlib"]
