[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "async_channel"
description = "Channel for asynchronous Inter-Task Communication via a bounded buffer"
version = "0.1.0"
build = "../../build.rs"

[dependencies]
spin = "0.4.10"
atomic = { version = "0.4.4", features = [ "nightly" ] }

[dependencies.log]
version = "0.4.8"

[dependencies.debugit]
path = "../../libs/debugit"

[dependencies.mpmc]
path = "../../libs/mpmc"

[dependencies.wait_queue]
path = "../wait_queue"

[dependencies.task]
path = "../task"

[dependencies.hpet]
path = "../hpet"

[lib]
crate-type = ["rlib"]
