[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "pit_clock"
description = "PIT (Programmable Interval Timer) support for Theseus, x86 only."
version = "0.1.0"
build = "../../build.rs"

[dependencies]
spin = "0.4.10"
# x86_64 = { git = "https://github.com/kevinaboos/x86_64" }
x86_64 = { path = "../../libs/x86_64" } # currently using our local copy, forked from Phil Opp's crate

[dependencies.log]
version = "0.4.8"

[dependencies.port_io]
path = "../../libs/port_io"

[lib]
crate-type = ["rlib"]
