[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "rtc"
version = "0.1.0"

[dependencies]
spin = "0.4.5"

[dependencies.lazy_static]
features = ["spin_no_std"]
version = "0.2.1"

[dependencies.log]
default-features = false
version = "0.3.7"

[dependencies.irq_safety]
path = "../../libs/irq_safety"
version = "0.1.1"

[dependencies.port_io]
path = "../../libs/port_io"
version = "0.2.1"

[dependencies.kernel_config]
path = "../kernel_config"

[dependencies.state_store]
path = "../state_store"


# [build]
# rustflags = ["-C", "prefer-dynamic", "-C", "panic=abort"]


[lib]
crate-type = ["rlib"] # "lib" does the same thing I think