[package]
authors = ["Kevin Boos <kevinaboos@gmail.com>"]
name = "tsc"
description = "TSC (TimeStamp Counter) support for performance counters on x86. Basically a wrapper around rdtsc."
version = "0.1.0"
build = "../../build.rs"

[dependencies]
# x86_64 = { git = "https://github.com/kevinaboos/x86_64" }
x86_64 = { path = "../../libs/x86_64" } # currently using our local copy, forked from Phil Opp's crate


[dependencies.log]
version = "0.4.8"

[dependencies.pit_clock]
path = "../pit_clock"


[lib]
crate-type = ["rlib"]
